<div>Here will go all the HTML magic that will show the <b>Game of Life</b> grid.</div>
<div>Controller status: {{ controller_loaded || 'not loaded!' }}</div>
<div><br><a href="#/">Home</a></div>

<div>
  Numero de filas:<input type="text" ng-model="row">
</div>
<br>
<div>
  Numero de columnas:<input type="text" ng-model="col">
</div>
<button ng-click="create_grid(row, col)">Dibujar</button>

<div ng-repeat="row in grid_of_game">
  <span ng-repeat="cell in row track by $index"
        style="background: white;
               heigth: 50px;
               width: 50px;
               display:inline-block">
    &nbsp;
  </span>
</div>

