body {
  background-color: #ccc;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;

  padding: 3px 6px 3px 6px;

  font-family: 'Arial';
  font-size: 13.33px;
}
